#gameMapCanvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 240px;
    width: 240px;
    margin: 4px 0 0 4px;
}

#gameMapCanvas div.grid {
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url('../images/tiles/tileset.png');

}

#gameMapCanvas div.grass01 {

}

#gameMapCanvas div.dirt01 {
    background-image: url('../images/tiles/dirt01/dirt01.png');
}

#gameMapCanvas div.weapon01 {
    background-position: -90px 0;
}
#gameMapCanvas div.bridge01 {
    background-image: url('../images/tiles/bridge.jpg');
}

#gameMapCanvas div.bordertrbl, #gameMapCanvas div.bordertrl, #gameMapCanvas div.bordertl, #gameMapCanvas div.borderl, #gameMapCanvas div.bordertrb, #gameMapCanvas div.bordertr, #gameMapCanvas div.bordert, #gameMapCanvas div.borderrb, #gameMapCanvas div.borderr, #gameMapCanvas div.borderb, #gameMapCanvas div.borderrl, #gameMapCanvas div.bordertb, #gameMapCanvas div.bordertbl, #gameMapCanvas div.borderrl, #gameMapCanvas div.borderrbl,#gameMapCanvas div.borderbl {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

#gameMapCanvas div.bordertrbl {
    border: 2px solid #fff;
    border-radius: 3px;
}

#gameMapCanvas div.bordertrl {
    border: 2px solid #fff;
    border-bottom: 0;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#gameMapCanvas div.bordertl {
    border: 2px solid #fff;
    border-bottom: 0;
    border-right: 0;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 2px;
    border-top-left-radius: 3px;
}

#gameMapCanvas div.borderl {
    border: 2px solid #fff;
    border-bottom: 0;
    border-right: 0;
    border-top: 0;
}

#gameMapCanvas div.bordertrb {
    border: 2px solid #fff;
    border-left: 0;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#gameMapCanvas div.bordertr {
    border: 2px solid #fff;
    border-left: 0;
    border-bottom: 0;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 2px;
    border-top-right-radius: 3px;
}

#gameMapCanvas div.bordert {
    border: 2px solid #fff;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
}

#gameMapCanvas div.borderrb {
    border: 2px solid #fff;
    border-left: 0;
    border-top: 0;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 2px;
    border-bottom-right-radius: 3px;
}

#gameMapCanvas div.borderr {
    border: 2px solid #fff;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
}

#gameMapCanvas div.borderb {
    border: 2px solid #fff;
    border-right: 0;
    border-top: 0;
    border-left: 0;
}

#gameMapCanvas div.borderrl {
    border: 2px solid #fff;
    border-bottom: 0;
    border-top: 0;
}

#gameMapCanvas div.bordertb {
    border: 2px solid #fff;
    border-left: 0;
    border-right: 0;
}
#gameMapCanvas div.bordertbl {
    border: 2px solid #fff;
    border-right: 0;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#gameMapCanvas div.borderrbl {
    border: 2px solid #fff;
    border-top: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#gameMapCanvas div.borderbl {
    border: 2px solid #fff;
    border-top: 0;
    border-right: 0;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-left-radius: 3px;
}

/* WATER01 */
#gameMapCanvas div.water01 {
    background-image: url('../images/tiles/water01/water01.png');
}
#gameMapCanvas div.water01T {
    background-image: url('../images/tiles/water01/water01T.png');
}
#gameMapCanvas div.water01TR {
    background-image: url('../images/tiles/water01/water01TR.png');
}
#gameMapCanvas div.water01TL {
    background-image: url('../images/tiles/water01/water01TL.png');
}
#gameMapCanvas div.water01TRB {
    background-image: url('../images/tiles/water01/water01TRB.png');
}
#gameMapCanvas div.water01TRL {
    background-image: url('../images/tiles/water01/water01TRL.png');
}
#gameMapCanvas div.water01TRBL {
    background-image: url('../images/tiles/water01/water01TRBL.png');
}
#gameMapCanvas div.water01R {
    background-image: url('../images/tiles/water01/water01R.png');
}
#gameMapCanvas div.water01RB {
    background-image: url('../images/tiles/water01/water01RB.png');
}
#gameMapCanvas div.water01RL {
    background-image: url('../images/tiles/water01/water01RL.png');
}
#gameMapCanvas div.water01RBL {
    background-image: url('../images/tiles/water01/water01RBL.png');
}
#gameMapCanvas div.water01B {
    background-image: url('../images/tiles/water01/water01B.png');
}
#gameMapCanvas div.water01BL {
    background-image: url('../images/tiles/water01/water01BL.png');
}
#gameMapCanvas div.water01L {
    background-image: url('../images/tiles/water01/water01L.png');
}
#gameMapCanvas div.water01TRc {
    background-image: url('../images/tiles/water01/water01TRc.png');
}
#gameMapCanvas div.water01RBc {
    background-image: url('../images/tiles/water01/water01RBc.png');
}
#gameMapCanvas div.water01BLc {
    background-image: url('../images/tiles/water01/water01BLc.png');
}
#gameMapCanvas div.water01TLc {
    background-image: url('../images/tiles/water01/water01TLc.png');
}
/*
ltrb
ltr
lt
l
trb
tr
t
rb
r
b
lr
tb
ltb
lr
lrb
*/