#gameMapCanvas {
    position: relative;
    top: 0;
    left: 0;
}

#gameMapCanvas div.grid {
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url('../images/tiles/tileset.png');

}

#gameMapCanvas div.grass01 {

}

#gameMapCanvas div.dirt01 {
    background-position: -30px 0;
}

#gameMapCanvas div.water01 {
    background-position: -60px 0;
}

#gameMapCanvas div.weapon01 {
    background-position: -90px 0;
}
#gameMapCanvas div.bridge01 {
    background-image: url('../images/tiles/test01.png'), url('../images/tiles/bridge.jpg');
}
#gameMapCanvas div.test01 {
    background-image: url('../images/tiles/test01.png');
}

#gameMapCanvas div.bordertrbl, #gameMapCanvas div.bordertrl, #gameMapCanvas div.bordertl, #gameMapCanvas div.borderl, #gameMapCanvas div.bordertrb, #gameMapCanvas div.bordertr, #gameMapCanvas div.bordert, #gameMapCanvas div.borderrb, #gameMapCanvas div.borderr, #gameMapCanvas div.borderb, #gameMapCanvas div.borderrl, #gameMapCanvas div.bordertb, #gameMapCanvas div.bordertbl, #gameMapCanvas div.borderrl, #gameMapCanvas div.borderrbl,#gameMapCanvas div.borderbl {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

#gameMapCanvas div.bordertrbl {
    border: 2px solid #fff;
    border-radius: 3px;
}

#gameMapCanvas div.bordertrl {
    border: 2px solid #fff;
    border-bottom: 0;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#gameMapCanvas div.bordertl {
    border: 2px solid #fff;
    border-bottom: 0;
    border-right: 0;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 2px;
    border-top-left-radius: 3px;
}

#gameMapCanvas div.borderl {
    border: 2px solid #fff;
    border-bottom: 0;
    border-right: 0;
    border-top: 0;
}

#gameMapCanvas div.bordertrb {
    border: 2px solid #fff;
    border-left: 0;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#gameMapCanvas div.bordertr {
    border: 2px solid #fff;
    border-left: 0;
    border-bottom: 0;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 2px;
    border-top-right-radius: 3px;
}

#gameMapCanvas div.bordert {
    border: 2px solid #fff;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
}

#gameMapCanvas div.borderrb {
    border: 2px solid #fff;
    border-left: 0;
    border-top: 0;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 2px;
    border-bottom-right-radius: 3px;
}

#gameMapCanvas div.borderr {
    border: 2px solid #fff;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
}

#gameMapCanvas div.borderb {
    border: 2px solid #fff;
    border-right: 0;
    border-top: 0;
    border-left: 0;
}

#gameMapCanvas div.borderrl {
    border: 2px solid #fff;
    border-bottom: 0;
    border-top: 0;
}

#gameMapCanvas div.bordertb {
    border: 2px solid #fff;
    border-left: 0;
    border-right: 0;
}
#gameMapCanvas div.bordertbl {
    border: 2px solid #fff;
    border-right: 0;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#gameMapCanvas div.borderrbl {
    border: 2px solid #fff;
    border-top: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#gameMapCanvas div.borderbl {
    border: 2px solid #fff;
    border-top: 0;
    border-right: 0;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-left-radius: 3px;
}
/*
ltrb
ltr
lt
l
trb
tr
t
rb
r
b
lr
tb
ltb
lr
lrb
*/