/* Generic */
body {
    -webkit-text-size-adjust: none;
    overflow: hidden;
    background-color: #333;
    background-image: url('../images/layout/bg.png');
    font-family: "Paprika", "Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    font-size: 12px;
    color: #fff;
}
input {
    font-family: 'Paprika', serif;
    font-size: 12px;
    color: #fff;
}
input:focus {
    outline: none;
    border: solid thin #333;
}
/* Wrappers */
#wrapSidebar {
    height:100%;
    width: 15%;
    float: left;
}
#wrapGameArea {
    height: 100%;
    width: 85%;
    float: right;
}
/* Left Frames */
#frameLogo {
    width: 320px;
    height: 40px;
    background-image: url('../images/layout/logo.png');
    background-repeat: no-repeat;
    text-indent: -9999px;
    direction: ltr;
    background-position: 5px 5px;
}
#outerFrameStats, #outerFramePlayerList {
    padding: 0;
    margin-left: 5px;
    margin-right: 3px;
    min-width: 62px;
}
#outerFramePlayerList {
    height: 65%;
    margin-bottom: 15px;
}
#outerFrameStats {
    height: 25%;
}
#innerFrameStats, #framePlayerList {
    background-color: rgba(255, 255, 255, 0.1);
    height: 100%;
    border: solid thin #333;
    border-top: solid thin #666;
}
#innerFrameStats {
    padding-left: 5px;
    padding-top: 5px;
}
#framePlayerList {
    padding-left: 0;
    padding-top: 0;
    padding: 2px;
}
/* PlayerList */
#roomTitle {
    margin: 0;
    margin-bottom: 5px;
    padding: 2px;
    text-align: center;
    font-family: 'Paprika', serif;
    font-size: 13px;
    border: solid thin #555;
    border-top: solid thin #777;
    border-bottom: solid thin #333;
    background-color: rgba(255,255,255,0.1);
}
#playerList {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.player {
    height: 53px;
    margin-bottom: 1px;
    border: solid thin #555;
    border-top: solid thin #222;
    border-bottom: solid thin #666;
    background-color: rgba(0,0,0,0.3);
    text-align: left;
    overflow: hidden;
}
.player:hover {
    background-color: rgba(0,0,0,0.2);
}
.player img {
    padding: 3px;
    float: left;
    margin: 2px;
    margin-right: 10px;
    margin-left: 3px;
    border: solid thin #444;
    border-top: solid thin #222;
    border-bottom: solid thin #888;
    background-color: rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}
.player p {
    line-height: 53px;
}
/* Stats */
#frameStats {
    margin-right: 5px;
    height: 92%;
    position: relative;
    background-color: rgba(0,0,0,0.4);
    border: solid thin #555;
    padding: 5px;
    overflow: hidden;
}
#playerStats {
    width: 100%;
    height: 100%;

}
#playerStats td { 
    border: double 5px #222; vertical-align: middle; text-align: center;
}
.statName {
    color: orange;
    margin-right: 10px;
    font-size: 1.25em;
}

/* Right Frames */
#outerFrameGame {
    height: 85%;
    padding: 5px;
    margin-bottom: 27px;
}
#innerframeGame {
    padding: 8px;
    /*height: 100%;*/
    background-color: rgba(0, 0, 0, 0.3);
}
#frameGame {
    margin: 1px;
    padding: 5px;
    overflow: auto;
    height: 100%;
    border: solid thin #333;
    background-color: rgba(0,0,0,0.2);
}
#frameGameMap {
    visibility: visible;
    width: 248px;
    height: 268px;
    float: right;
    position: absolute;
    top: 30px;
    right: 40px;
    border: solid thin #222;
    border-top: solid thin #555;
    background-color: rgba(52,52,52,0.8);
    background-image: url('../images/layout/bg.png');
}
#frameGameMap:hover {
    opacity: 0.15;
}
#outerFrameInput {
    position: absolute;
    width: 84%;
    height: 15%;
    padding: 5px;
}
#frameInput {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}
#status {
    float: right;
    position: absolute;
    top: 5px;
    right: 5px;
    width: auto;
    height: 16px;
    background-color: rgba(64, 64, 64, 0.7);
    padding: 3px;
}
#networkStatus {
    float: right;
    width: 16px;
    height: 16px;
    background-image: url('../images/layout/circle-green.png');
}
#networkStatus:hover {
    background-image: url('../images/layout/circle-red.png');
}
#updateStatus {
    display: none;
    float: left;
    width: 16px;
    height: 16px;
    background-image: url('../images/layout/update.png');
}
#updateStatus:hover {
    background-image: url('../images/layout/update2.png');
}
/* Game Area */
#frameGameMap p {
    text-align: center;
    line-height: 16px;
    vertical-align: middle;
    font-family: 'Paprika', serif;
    margin-top: 248px;
}
#gameMap {
    width: 240px;
    height: 240px;
    margin: 3px;
    border: solid thin #222;
    border-top: solid thin #111;
    border-bottom: solid thin #444;
    background-color: rgba(0,0,0,0.1);
    overflow: hidden;
    position: absolute;
}
#playerMark {
    position: relative;
    width: 240px;
    height: 240px;
    background-image: url('../images/tiles/playerMark.png');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow:inset 0 0 10px #000;
    -moz-box-shadow:inset 0 0 10px #000;
    -webkit-box-shadow:inset 0 0 10px #000;
    z-index: 998;
}
#mapShadow {
    position: relative;
    top: -240px;
    width: 240px;
    height: 240px;
    box-shadow:inset 0 0 10px #000;
    -moz-box-shadow:inset 0 0 10px #000;
    -webkit-box-shadow:inset 0 0 10px #000;
    /*background-image: url('../images/layout/mapTexture.png');*/
}
/* Input Frames */
#inputGameCommands {
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}
#editModeCheck {
    
}
#inputButton {
    width: 5%;
    height: 29px;
    background-color: rgba(0, 0, 0, 0.3);
}
#movementControls {
    position: absolute;
    right: 35px;
    bottom: 105px;
    width: 170px;
    height: 220px;
    z-index: 999;
}
#movementControls td {
    width: 50px;
    height: 50px;
    text-align: center;
}
.movementButton {
    background-color: rgba(0, 0, 0, 0.3);
    height: 50px;
    width: 50px;
    background-position: center;
    background-repeat: no-repeat;
}
.movementButton:hover {
    background-color: rgba(30, 30, 30, 0.3);
}
#dir_N {
    background-image: url('../images/layout/dir_N.png');
}
#dir_U {
    background-image: url('../images/layout/dir_U.png');
}
#dir_W {
    background-image: url('../images/layout/dir_W.png');
}
#act_Look {
    background-image: url('../images/layout/dir_L.png');
}
#dir_E {
    background-image: url('../images/layout/dir_E.png');
}
#dir_S {
    background-image: url('../images/layout/dir_S.png');
}
#dir_D {
    background-image: url('../images/layout/dir_D.png');
}
#editMode {
    height: 20px;
}
#editMode:hover {
    background-color: rgba(150, 30, 30, 0.4);
}
/* Links */
a {
    color: #faad28;
    text-decoration: none;
}
a:hover {
    color: #f7c46c;
}
/* Colors */
span.yellow {
    color: #f5f567;
}
span.byellow {
    color: #f5f567;
    font-weight: bold;
}
span.red {
    color: #f74848;
}
span.bred {
    color: #f74848;
    font-weight: bold;
}
span.green {
    color: #48f748;
}
span.bgreen {
    color: #48f748;
    font-weight: bold;
}
span.purple {
    color: #f736f1;    
}
span.bpurple {
    color: #f736f1;
    font-weight: bold;
}
span.orange {
    color: #fc0;    
}
span.borange {
    color: #fc0;
    font-weight: bold;
}
span.pink {
    color: #f39;    
}
span.bpink {
    color: #f39;
    font-weight: bold;
}
/* In-Game Tables */
table.embed {
    width: 50%;
}
table.embed td {
    padding: 3px;
}
table.embed td.title {
    font-size: 14px;
    background-color: rgba(255, 0, 0, 0.3);
}
table.embed td.head {
    color:#f66;
    background-color: rgba(255, 0, 0, 0.2);
}
table.embed td.prop {
    color:#fff;
    background-color: rgba(255, 0, 0, 0.1);
}
table.embed td.value {
    color:#fff;
    background-color: rgba(255, 0, 0, 0.1);
}
/* Special Styles */
.shadow {
    -moz-box-shadow: 0 1px 7px #000;
    -webkit-box-shadow: 0 1px 7px #000;
    box-shadow: 0 1px 7px #000;
}
.shadow2 {
    -moz-box-shadow: 0 0 5px #000;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}
.border222 {
    border: solid thin #222;
    border-top: solid thin #444;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.border333 {
    border: solid thin #333;
}
.borderRadTop10 {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

@media screen and (max-width: 720px) {
    #frameGameMap {
        display: none;
    }
}
@media screen and (min-device-width : 320px) and (max-width : 480px) {
    body {
        overflow: hidden;
        background-color: #333;
        background-image: url('../images/layout/bg.png');
        font-family: "Paprika", "Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
        font-size: 12px;
        color: #fff;
    }
    #wrapSidebar {
        display: none;
    }
    #wrapGameArea {
        width: 100%;
    }
    #movementControls {
        position: absolute;
        right: 5%;
        bottom: 5%;
        width: 200px;
        height: 200px;
        z-index: 999;
}
}
/*@media screen and (max-height: 740px) and (min-width : 481px) {
    #outerFrameInput {
        float: right;
        position: absolute;
        bottom: -10px;
        right: 5px;
        width: 82%;
    }
}*/
